

.containerGeneralElements {
  width: 20rem;
  margin: 1.25rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: .9375rem;
}

.titleGeneralElements {
  font-weight: bold;
}

.generalElements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .generalElements {
    grid-template-columns: 1fr;
  }
}